/* Estilos globais no style.css */
body {
    margin: 0;
    height: 100vh;
    overflow-y: auto;
    background: linear-gradient(-45deg, #141e30, #243b55, #1a2a6c, #b21f1f);
    background-size: 400% 400%;
    animation: gradientToBlack 10s ease-in-out forwards;
    position: relative;
    transition: transform 0.5s ease-out;
}

@keyframes gradientToBlack {
    0% {
        background: linear-gradient(-45deg, #141e30, #243b55, #1a2a6c, #b21f1f);
    }
    100% {
        background: #000000;
    }
}

/* Estilos das partículas */
@keyframes particleFade {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

.particle {
    position: absolute;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.8); /* Bolinhas brancas */
    border-radius: 50%;
    animation: particleFade 3s ease-in-out infinite;
    top: calc(100% * var(--randomY));
    left: calc(100% * var(--randomX));
    animation-delay: calc(var(--delay) * 3s);
    z-index: -1; /* Certifique-se de que as partículas estão atrás do header */
}
